.content {
    width: 100%;
    padding: 15px;
    text-align: center;
    justify-content: center;
}

.formmulario {
    width: 30%;
    margin-top: 150px;
    padding: 3px;
    margin-left: 175px;
}

.formMoto {
    width: 30%;
    margin-top: -450px;
    padding: 3px;
    margin-left: 900px;
}
